 <div class="info-container">
    <h1>Sathira Williams</h1>
    <p>Software Engineering Student</p>
    <h2>&#64; York University</h2>
  </div>
 <div class="expandable-button">
   <img src="assets/SSLogo.webp" alt="Expand Button" (click)="toggleLinks()" />
   <div *ngIf="showLinks" class="links">
     <a href="https://github.com/pwSathira" target="_blank"><i class="fab fa-github"></i> GitHub</a>
     <a href="https://linkedin.com/in/pwSathira" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
     <a href="https://drive.google.com/file/d/1AfqHo7Ysz6C7jYDawVSYnAzfehm02uEb/view" target="_blank"><i class="fas fa-file"></i> Resume</a>
   </div>
 </div>
<router-outlet></router-outlet>
